<html ng-app>
<head>
<script type="text/javascript">
if (typeof navigator.mimeTypes['application/x-pnacl'] === 'undefined') {
    window.location = 'unsupported.html'
}
</script>
<title>Sequencer</title>
<link rel="stylesheet" type="text/css" href="seq.css" />
</head>
<body>

<div id="loader">
<h1>Please wait while Csound loads ...</h1>
<p>Here, watch this animated GIF while you wait.</p>
<a href="http://en.wikipedia.org/wiki/Wave_packet"><img src="wave_packet.gif" /></a>
</div>

<div ng-class="['NoteGridContainer']" ng-controller="NoteGridController"
     ng-mousedown="setMouseDown(true)" ng-mouseup="setMouseDown(false)">

<table><tbody>
<tr><td>
Scale: <select ng-model="selected.scale" ng-options="key for (key, value) in scales"></select>
</td><td>
Instrument: <select ng-model="selected.instrument"
                    ng-options="key for (key, value) in instruments"></select>
</td></tr>
<tr><td>
BPM: <input ng-class="['NumericInput']" type="number"
            ng-model="selected.bpm" ng-change="bpmChanged()" >
</td><td>
Pattern Length: <input ng-class="['NumericInput']" type="number"
                       ng-model="selected.colCount" ng-change="colCountChanged()" >
</td></tr>
</tbody></table>
<button ng-click="randomize()">Random</button>


<table><tbody>
<tr ng-repeat="row in noteGrid">
<td ng-repeat="cell in row"
    ng-class="['NoteCell', noteCellState(cell)]"
    ng-mousedown="toggleEnabled(cell)"
    ng-mouseenter="mouseEnteredCell(cell)"
    ></td>
</tr>
</tbody></table>
<button ng-click="toggleRunning()">{{ runningButtonText() }}</button>
<div class="Instructions">
This is a sequencer. A timer proceeds through the grid, playing a note for each enabled square
in a column when its time arrives. Click on squares to enable them, or drag your mouse around
inside the grid. Alternatively, the "Random" button will set a random pattern. Click the "Start"
button to start the sequencer. All controls can be changed while the sequencer is playing or 
stopped.
</div>
</div>
<!--pNaCl csound module-->
<div id="engine"></div>
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="csound.js"></script>
<script type="text/javascript" src="seq.js"></script>
</body>
</html>
