<html ng-app="seqApp">
<head>
<script type="text/javascript">
if (typeof navigator.mimeTypes['application/x-pnacl'] === 'undefined') {
    window.location = 'unsupported.html'
}
</script>
<title>Sequencer</title>
<link rel="stylesheet" type="text/css" href="seq.css" />
</head>
<body>

<div id="loader">
<h1>Please wait while Csound loads ...</h1>
<p>Here, watch this animated GIF while you wait.</p>
<a href="http://en.wikipedia.org/wiki/Wave_packet"><img src="wave_packet.gif" /></a>
</div>

<div ng-class="['NoteGridContainer']" ng-controller="NoteGridController"
     fc-mouse-state="mouseIsDown">

<table><tbody>
<tr><td>
Scale: <select ng-model="selected.scale" ng-options="key for (key, value) in scales"></select>
</td><td>
Instrument: <select ng-model="selected.instrument"
                    ng-options="key for (key, value) in instruments"></select>
</td></tr>
<tr><td>
BPM: <fc-number-input fc-min="30" fc-max="500"
		      fc-model="selected.bpm">
</td><td>
Pattern Length: <fc-number-input fc-min="2" fc-max="20"
				 fc-model="selected.colCount"
				 fc-change="changeColCount()">
</td></tr>
</tbody></table>
<button ng-click="randomize()">Random</button>
<button ng-click="clear()">Clear</button>
<button ng-click="invert()">Invert</button>
<button ng-click="retrograde()">Retrograde</button>
<br />
<input type="checkbox" ng-model="selected.randomizeEveryN">
<span ng-class="selected.randomizeEveryN ? 'RandomizeEveryNActive' : 'RandomizeEveryNDisabled'">
Randomize grid every
 
<input fc-number-input ng-disabled="! selected.randomizeEveryN"
		 fc-min="1" fc-max="1024"
		 fc-model="selected.randomizeRepeatCount" >

repeats.
</span>
<table><tbody>
<tr ng-repeat="row in noteGrid">
<td ng-repeat="cell in row"
    ng-class="['NoteCell', noteCellState(cell)]"
    ng-mousedown="toggleEnabled(cell)"
    ng-mouseenter="mouseEnteredCell(cell)"
    ></td>
</tr>
</tbody></table>
<button ng-click="toggleRunning()">{{ runningButtonText() }}</button>
<div class="Instructions">
This is a sequencer. A timer proceeds through the grid, playing a note for each enabled square
in a column when its time arrives. Click on squares to enable them, or drag your mouse around
inside the grid. Alternatively, the "Random" button will set a random pattern. Click the "Start"
button to start the sequencer. All controls can be changed while the sequencer is playing or 
stopped.
<p>Copyright &copy; 2014 by Forrest Cahoon (forrest.cahoon@gmail.com). All rights reserved.</p>
</div>
</div>
<!--pNaCl csound module-->
<div id="engine"></div>
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="csound.js"></script>
<script type="text/javascript" src="csound_data.js"></script>
<script type="text/javascript" src="seq.js"></script>
</body>
</html>
